@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,700");
/*********** Global Styles********/

/* root css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #edeff5;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif !important;
  font-weight: 900 !important;
}
/* Start button */
.cta .cta-b {
  color: #cc4b37;
  text-transform: uppercase;
  border: 2px solid rgba(255, 103, 68, 0.91);
  border-radius: 50px;
  background: white;
  padding: 13px 26px;
  font-family: Roboto;
  font-weight: bold;
}
.cta .cta-b:hover,
.cta .cta-b:focus {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 14px 1px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 103, 68, 0.91);
  color: white;
}
.button {
  width: 500px;
  margin: 40px auto;
  background: none;
  margin-left: 80px;
  padding: 0.85em 4em;
}
.button:hover {
  background: none;
}
/* End button */

/* Start section-heading */
.section-heading {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin: 50px auto;
  text-align: center;
  margin-top: 80px;
}
.section-heading h2 {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
  position: relative;
}
.section-heading h2::before,
.section-heading h2::after {
  content: "";
  display: block;
  width: 17%;
  height: 2px;
  position: absolute;
  background-color: black;
  bottom: -50%;
}
.section-heading h2::before {
  left: 30%;
}
.section-heading h2::after {
  right: 30%;
}
.circle {
  height: 40px;
  width: 40px;
  border: 2px solid black;
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-top: 7px;
}
/* End section-heading */

/* Start About Section */
#about .blur-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/handri.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  filter: blur(3px);
  height: 40vh;
}

#about .introduction {
  position: absolute;
  text-align: center;
  /* background-color: #d2d4d8; */
  width: 100%;
}
.details h2 {
  color: #646464;
  font-size: 60px;
}
.details span {
  font-weight: 300;
  font-size: 0.7em;
}

#about .profile-photo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: cover;
  margin-bottom: 40px;
  border: 7px solid #eee;
  margin-top: -100px;
}

.r-b {
  margin-right: 20px;
}
.l-b {
  float: left;
  margin-left: -20px;
}
/* End about  */

/* Start about-me */
#about-me {
  color: black;
  margin-top: 350px;
}
.about-button {
  margin-top: 70px !important;
}
.al-b {
  float: left;
  margin-right: 20px;
}
.about-details {
  display: flex;
}
.full-details {
  width: 45%;
  margin: 30px 40px;
}
.text {
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
}
.about-img {
  width: 45%;
}
.my-img {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: transform 1s ease;
}
.my-img:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  overflow: hidden;
}
/* End about-me */

/* Start skill */
#skills {
  position: relative;
}
.line {
  height: 25px;
  margin: 0 auto;
  line-height: 25px;
  font-size: 14px;
  color: #fff;
  padding: 0 0 0 10px;
  position: relative;
  margin-bottom: 10px;
}
.line::before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: 25px;
  top: 0;
  z-index: -2;
  background-color: #d2d6d7;
}
.line::after {
  content: "";
  background: #333;
  height: 25px;
  display: block;
  width: 100%;
  transition: 0.8s;
  animation: animate 1 4s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.line1::after {
  max-width: 90%;
}
.line2::after {
  max-width: 80%;
}
.line3::after {
  max-width: 70%;
}
.line4::after {
  max-width: 65%;
}
.line5::after {
  max-width: 50%;
}
.line6::after {
  max-width: 60%;
}
.skill-card {
  border: 2px solid #dfdfdf;
  border-radius: 4px;
  width: 32%;
  margin: 0 8px;
  margin-bottom: 80px;
  float: left;
}
.fa {
  color: #cc4b37;
  margin-bottom: 10px;
}
@keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* End of skill */

/* Start Exprience */
#exprience {
  margin-top: -50px;
}
.exprience-wrapper {
  width: 70%;
  margin: 0 auto;
}
.exprience-card {
  border: 2px solid #dfdfdf;
  border-radius: 4px;
  width: 45%;
  margin: 0 8px;
  margin-bottom: 20px;
  float: left;
  padding: 3px;
  height: auto;
  background-color: #d3cbcb;
  display: flex;
  flex-wrap: wrap;
}
.card-img-top {
  height: 300px;
}
.card-body {
  padding: 18px;
}
.card-img-top {
  width: 100%;
}
.card-link {
  margin: 10px 5px;
}
.card-header {
  border-top: 2px solid rgb(138, 132, 132);
  border-bottom: 2px solid rgb(138, 132, 132);
  text-align: center;
}

/* End exprience */

/* Start hobby */

.hobby {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #c6ccce;
  float: left;
  margin: 5px;
  margin-bottom: 60px;
  color: #ff7654;
}
.hobby:hover {
  background-color: #cc4b37;
  /* color: white; */
}
.icon {
  position: relative;
  left: 30%;
  top: 36%;
}
.hobby-text {
  margin-top: 60px;
  font-size: 1.5rem;
  font-family: Lato, sans-serif;
  font-weight: bold;
}
/* End hobby */

/* Start contact */
.contact-details {
  text-align: center;
}
.contact-details h4 {
  margin: 30px 0;
  margin-bottom: 50px;
}
.socal-icon {
  width: 103px;
  margin: 40px auto;
}
.fab {
  font-size: 1.2em;
  padding: 0.1em 0.4em;
  color: #8a8a8a;
  cursor: pointer;
}
.socal-icon li {
  float: left;
}
/* End contact */

/* Start footer */
#footer {
  margin: 20px auto;
  background-color: #d2d4d8;
  padding: 80px;
}
.logo {
  background-color: rgba(255, 103, 68, 0.91);
  border-radius: 50%;
  color: #fff;
  padding: 0.4em;
  font-family: "Maven pro", sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  display: inline;
  text-align: center;
  margin-left: 48%;
}
#footer p {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  color: #7d7d7d;
  text-rendering: optimizeLegibility;
}
/* End footer */

/* media query */
@media screen and (max-width: 1200px) {
  .skill-wrapper {
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
  .skill-card {
    text-align: left;
    width: 45%;
  }
  .skill-card:last-child {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .about-img {
    margin-top: 30px;
  }
  .exprience-card {
    width: 100%;
  }
  .hobbier-wrapper {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 740px) {
  .about-button {
    width: 350px;
  }
}
@media screen and (max-width: 700px) {
  .hobby {
    margin-left: 13%;
  }
}
@media screen and (max-width: 640px) {
  .details h2 {
    font-size: 45px;
  }
  .details span {
    font-size: 30px;
  }
  .special-about {
    margin-top: 150px;
  }
  .button {
    width: 400px;
    margin-left: 40px;
  }
  .l-b {
    margin-left: -45px;
  }
  .r-b {
    margin-right: 0px;
  }
  #about-me {
    margin-top: 250px;
  }
  .about-button {
    width: 400px;
    margin: 0 auto;
  }
  .about-img {
    display: none;
  }
  .circle {
    margin-top: 10px;
  }
  .section-heading h2::before,
  .section-heading h2::after {
    bottom: -112%;
  }
  .full-details {
    text-align: center;
    margin: 0 5%;
    width: 90%;
  }
  .al-b {
    margin-left: 25px;
  }
  .skill-card,
  .exprience-card {
    width: 100%;
    padding: 0 4%;
    height: auto;
  }
  .hobby {
    width: 200px;
    margin-left: 8%;
  }
  .socal-icon {
    width: 110px;
  }
  .logo {
    margin-left: 44%;
  }
}

@media screen and (max-width: 550px) {
  .section-heading h2::before,
  .section-heading h2::after {
    width: 16%;
  }
  .hobby {
    width: 96%;
    border-radius: 0;
  }
  .icon {
    position: relative;
    left: 40%;
    top: 36%;
  }
  .socal-icon {
    width: 102px;
  }
  .logo {
    margin-left: 37%;
  }
}
